
.headerFlex {
    display: flex;
    margin-top: 10px;
}

img {
  width: 100%;
}

.headerTC {
   margin-left: 10px;
   margin-bottom: 10px;
}

.headerTitleFlex {
    display: flex;
    margin-bottom: 10px;
    

}

.gray {
    color:gray;
    margin-left: 5px;
}

